<configuration>

  <!-- Console appender -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>[%d{HH:mm:ss.SSS}] %level [%thread] %logger{1}: "%msg"%n</pattern>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>

    <target>System.out</target>
  </appender>

  <!-- File appender -->
  <appender class="ch.qos.logback.core.FileAppender" name="FILE-LAST-SESSION">
    <append>false</append>

    <encoder>
      <pattern>[%d{dd.MM.yyyy - HH:mm:ss.SSS}] %level [%thread] %logger: "%msg"%n</pattern>
    </encoder>

    <file>logs/last-session-debug.log</file>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <!-- Root -->
  <root level="debug">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE-LAST-SESSION"/>
  </root>

</configuration>
