<configuration>

  <!-- Console appender -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>[%d{HH:mm:ss.SSS}] %level [%thread] %logger{1}: "%msg"%n</pattern>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>

    <target>System.out</target>
  </appender>

  <!-- File appender -->
  <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="FILE">
    <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
      <key>time</key>
      <defaultValue>UNKNOWN_TIME</defaultValue>
    </discriminator>
    <sift>
      <appender class="ch.qos.logback.core.FileAppender" name="FILE-${time}">
        <append>false</append>

        <encoder>
          <pattern>[%d{dd.MM.yyyy - HH:mm:ss.SSS}] %level [%thread] %logger: "%msg"%n</pattern>
        </encoder>

        <file>logs/debug-${time}.log</file>
      </appender>
    </sift>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <!-- Root -->
  <root level="warn">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>
